/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************* Mon css */

body
{
	font-family: 'Cutive Mono', monospace;
}

/************* Font   */

.maj
{
	text-transform: uppercase;
}

.min
{
	text-transform: lowercase;
}

.league
{
	font-family: 'Cutive Mono', monospace;
}

.lineheight15
{
  line-height: 1.5em;
}

.underline
{
  text-decoration: underline;
}

.bold
{
	font-weight: bold;
}

.fontBlue
{
	color: #aacbdf;
}

.fontGrey
{
	color: grey;
}

.fontDarkgrey
{
	color: #292929;
}

.fontBlack
{
	color: black;
}

.fontWhite
{
  color: #fff;
}

.fontDarkBlue
{
	color: #013c71;
}

.font3
{
  font-size: 3em;
}

.font2
{
  font-size: 2em;
}

.font23
{
  font-size: 2.3em;
}

.font1
{
  font-size: 1em;
}

.font09
{
  font-size: 0.9em;
}

.font07
{
  font-size: 0.7em;
}

.font15
{
  font-size: 1.5em;
}

.font11
{
  font-size: 1.1em;
}

.textdecoNone
{
	text-decoration: none;
}



/************** MARGIN   */

.marg10
{
	margin: 10vh 10vw;
}

.margbot1
{
	margin-bottom: 1vh;
}

.margbot5
{
	margin-bottom: 5vh;
}

.margbot10
{
	margin-bottom: 10vh;
}

.margtop10
{
	margin-top: 10vh;
}

.margleft3
{
	margin-left: 3vw;
}

.marglr2
{
	margin-left: 2vw;
	margin-right: 2vw;
}

/**************** PADDING  */
.padl1
{
	padding-left: 1vw;
}


.padtopbot10
{
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.padtopbot5
{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.padtopbot6
{
  padding: 6vh 0;
}

.padtopbot2
{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.padtop4
{
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.padtop5
{
  padding-top: 5vh;
}

.paddinglr10
{
  padding-left: 10vw;
  padding-right: 10vw;
}

.padbot3
{
  padding-bottom: 3vh;
}

.padbot5
{
  padding-bottom: 5vh;
}

.padbot10
{
  padding-bottom: 10vh;
}

.padbot1
{
  padding-bottom: 1vh;
}

.padbot10
{
  padding-bottom: 10vh;
}

.padtop10
{
  padding-top: 10vh;
}

.padFull3
{
	padding: 3vh 3vw;
}

.padFull1
{
	padding: 1vh 1vw;
}

.padFull15
{
	padding: 1.5vh 1.5vw;
}

.padtopbot4
{
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.padtop2
{
	padding-top: 2vh;
}

/****************** NAVIGATION  */

nav ul li a
{
  color: #292929;
  text-decoration: none;
	display: block;
	font-size: 1.2em;
}

nav ul li a:hover
{
	transform: scale(1.3);
	transition: 0.5ms ease-in-out;
}

nav ul li
{
  list-style: none;
}

nav ul
{
  display: flex;
  justify-content: space-around;
}

.container nav
{
	padding-top: 4vh;
	padding-bottom: 4vh;
}

footer nav ul
{
  display: flex;
  flex-direction: column;
}

footer nav li
{
  line-height: 1.5em;
}

footer nav li a
{
  line-height: 1.5em;
}

/***************** BACKGROUND  */

.bgBlue
{
  background-color: #aacbdf;
}

.bgBeige
{
	background-color: #e4dcd7;
}

.bgWhite
{
	background-color: white;
}
/****************** TEXT POSITION  */

.tcenter
{
  text-align: center;
}

	.tright
	{
	  text-align: right;
	}

	.tleft
	{
		text-align: left;
	}

.tjustify
{
  text-align: justify;
}

/******************* BORDER  */

.borderBotWhite
{
  border-bottom: solid 2px white;
}

.borderBlue
{
  border-bottom: solid 2px #aacbdf;
}

.borderFullBlue
{
  border: solid 1px #aacbdf;
}

.borderFullBeige
{
  border: solid 1px #e4dcd7;
}

.borderRa40
{
	border-radius: 40px;
}

.borderTop
{
	border-top: solid grey 1px;
}

/****************** FLEX   */

.flex
{
  display: flex;
}

.column
{
  flex-direction: column;
}

.jbetw
{
  justify-content: space-between;
}

.jaround
{
  justify-content: space-around;
}

.jcenter
{
  justify-content: center;
}

.aicenter
{
  align-items: center;
}

.aistart
{
	align-items: start;
}

/******************* Grid header  */

.container-grid
{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 68px;
}

.gallery-container
{
	width: 100%;
	height: 100%;
	position: relative;
}

.gallery-container .image
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery-container .image img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	transition: .5s ease-in-out;
}

.gallery-container:hover .image img
{
	transform: scale(1.5);
}

/******************** upload file input*/


.label-file
{
	font-weight: 								bold;
	background-color: 					inherit;
	padding: 										2vh 2vw;
	cursor: 										pointer;
	text-align: 								center;
	border: 										solid 1px #e4dcd7;
}

.label-file:hover, .label-file:active
{
	border: 										solid 2px #e4dcd7;
}

.input-file
{
	opacity: 										0;
}

.preview
{
	text-align: 								center;
	font-size: 									0.8em;
}

/******************  */

.acces a
{
	text-decoration: underline;
	color: black;
}

.envoyer
{
	padding: 										2vh 2vw;
	cursor: 										pointer;
	text-align: 								center;
	border: 										solid 1px #e4dcd7;
}

.pointer
{
	cursor: pointer;
}

.hoverBgBlue:hover
{
	background-color: #aacbdf;
	color: #fff;
}

.width500
{
	width: 500px;
}

.connected_form input
{
	padding: 0.5em;
	margin-bottom: 2em;
}

.projetImage img
{
	margin: 2vh 2vw;
	border: solid 1px #e4dcd7;
}

.filtre
{
	border: solid 1px #e4dcd7;
}

/**************** Filtre Select  */

.formfield-select {
	position: relative;
}

.formfield-select--container {
	position: relative;

	background-color: #fff;
	border: #fff 1px solid;
	margin: 1.5em 0 1.5em 0;
	overflow: hidden;
	/*
		Le select natif pourra
		dépasser sans être vu
	*/
}

.formfield-select--container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 110%;
	/*
		On est sûr de ne plus voir
		la flèche native
	*/

	height: auto;
	border: 0;
	margin: 0;
	padding: .75em;
	border-radius: 0;
	font-size: 0.9em;


	overflow: hidden;
	text-overflow: ellipsis;
	/*
		On empêche le texte d'aller
		jusqu'au bout s'il est trop long
	*/

}

.formfield-select--container::after {
	/* Le pointeur du select */
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: .75em;
	display: block;
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: #444;
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}
